body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.report{
  padding : 50px;
  margin-bottom : 20px;
  border : 1px solid transparent;
  border-radius: 4px;
  color: #00B7FF;
  background-color: #d6e9c6;


}

div.error {
  padding : 50px;
  margin-bottom : 20px;
  border : 1px solid transparent;
  border-radius: 4px;
  color: #00B7FF;
  background-color: #d6e9c6;

  
}
